body { 
    background-color: #d2d2d2;
    font-family: 'Roboto', sans-serif;
  };
  
  
nav{
    width:100vw;
    background-color: black;
}


.main-nav{
    display:flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    height: 50px;
    border-bottom: 1px solid gold;
    background-color: black;
    color: gold;
    list-style-type: none;
}

.main-nav a{
    color:gold;
}

li.nav-item{
    padding: 10px 30px;
}





  #wrapper {
    width: 90vw;
    margin: 0 auto;
    padding-top: 5%;
  }
  #articles {
    /*overflow: auto;*/
    width: 60%;
    height: 700px;
    float:left;
  }
  #notes {
    float: left;
    width: 30%;
    margin-left:5%;
  }
  textarea, input {
    display: block;
    width: 100%;
    background-color: #f7f7f7;
    margin-bottom: 10px;
  }
  input {
    height: 36px;
    font-size: 24px;
  }
  textarea {
    height: 200px;
    font-size: 18px;
  }

h3{
    font-family: 'Passion One', cursive;
    font-size: 25px;

}

  .card{
      margin-bottom:20px;
  }

  .btn{
      padding:5px;
      font-size: 12px;
  }

  span{
      color:gray;
      padding: 5px 0 0 10px;
      font-size: 12px;
  }

  .note-title{
      color: #505050;
      font-size: 20px;
  }